/*
$color1: #e9e6e4;   original light, orange
$color2: #271958;
$color3: #f51a79;

$color1: #f9ffff; light, blue
$color2: #3e4535;
$color3: #005f9a;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h2 {
  color: #d24041;
  font-weight: 500;
  margin-bottom: 6px;
}

p {
  color: #e3d3a3;
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0px;
}

header {
  background-color: #0b1017;
  position: fixed;
  width: 100vw;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header-img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  mix-blend-mode: difference;
}

#nav-bar span {
  color: #d24041;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#nav-links li {
  list-style: none;
}

#nav-links li a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  color: #e3d3a3;
  font-size: 20px;
  border-radius: 10px;
}

#nav-links li a:last-child {
  margin-right: 40px;
}

.hamburger-line {
  height: 6px;
  width: 40px;
  margin: 2px;
  margin-right: 50px;
  background-color: tomato;
  display: none;
}

main {
  padding-top: 100px;
  background-color: #111a25;
  height: 100vh;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper #video {
  margin: 30px 20px;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
}

section {
  padding: 20px;
  background-color: #111a25;
}

section:nth-child(1) {
  border-bottom: 1px solid rgba(227, 211, 163, 0.2);
}

section:nth-child(2) {
  border-bottom: 1px solid rgba(227, 211, 163, 0.2);
}

form {
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  display: block;
  height: 35px;
  width: 100%;
  color: #e3d3a3;
  font-size: 15px;
  background-color: #111a25;
  padding: 6px;
  margin: 0px 15px 0px auto;
  border: 2px solid #d24041;
}

form input::-webkit-input-placeholder {
  color: #e3d3a3;
  font-weight: bold;
}

form input:-ms-input-placeholder {
  color: #e3d3a3;
  font-weight: bold;
}

form input::-ms-input-placeholder {
  color: #e3d3a3;
  font-weight: bold;
}

form input::placeholder {
  color: #e3d3a3;
  font-weight: bold;
}

form #submit {
  display: block;
  height: 35px;
  width: 50%;
  margin: 0px auto 0px auto;
  background-color: #d24041;
  color: #e3d3a3;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

.description {
  padding: 0px 20px;
  margin: 20px auto;
  width: 90%;
  border-left: 3px solid #d24041;
}

@media (max-width: 767px) {
  #nav-links li a {
    display: none;
  }
  .hamburger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hamburger-line {
    display: initial;
  }
  #video {
    width: 90%;
    margin: 0 auto;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */