// Variables
$color: tomato;
$color-light: lighten($color, 15%);
$color-dark: darken($color, 15%);
$font-color: white;

// Dark theme
$color1: #111a25;
$color1-dark: darken($color1, 4%);
$color2: #e3d3a3;
$color3: #d24041;

// Light theme
$color4: #f9ffff;
$color4-dark: darken($color4, 4%);
$color5: #3e4535;
$color6: #005f9a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
h2 {
  color: $color3;
  font-weight: 500;
  margin-bottom: 6px;
}
p {
  color: $color2;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}
header {
  background-color: $color1-dark;
  position: fixed;
  width: 100vw;
}
#nav-bar {
  display: flex;
  justify-content: space-around;
}
#header-img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  mix-blend-mode: difference;
}
#nav-bar .logo-text {
  color: $color3;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  li {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    color: $color2;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.2s;
  }
  li a:last-child {
    margin-right: 40px;
  }
}
.hamburger-line {
  height: 6px;
  width: 40px;
  margin: 2px;
  margin-right: 50px;
  background-color: $color3;
  display: none;
}
.button-wrap {
  display: flex;
  align-items: center;
}
#button-theme {
  background-color: transparent;
  height: 40px;
  width: 110px;
  padding: 5px;
  margin-right: 30px;
  border: none;
  color: $color2;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
#button-theme:hover,
.nav-link:hover {
  background-color: rgba($color3, 1);
}
.icon-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon {
  color: $color2;
  height: 18px;
  width: 18px;
}
.icon-wrap span {
  font-size: 20px;
}
main {
  padding-top: 100px;
  background-color: $color1;
  height: 100vh;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #video {
    margin: 30px 20px;
    box-shadow: 0px 0px 8px black;
  }
}
section {
  padding: 20px;
  background-color: $color1;
  &:nth-child(1) {
    border-top: 1px solid rgba($color2, 0.2);
    border-bottom: 1px solid rgba($color2, 0.2);
  }
  &:nth-child(2) {
    border-bottom: 1px solid rgba($color2, 0.2);
  }
}
form {
  padding: 30px;
  width: 620px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  input {
    display: block;
    height: 35px;
    width: 100%;
    color: $color2;
    font-size: 15px;
    background-color: $color1;
    padding: 6px;
    margin: 0px 15px 0px auto;
    border: 2px solid $color3;
    &::placeholder {
      color: $color2;
      font-weight: bold;
    }
  }
  #submit {
    display: block;
    height: 35px;
    width: 50%;
    margin: 0px auto 0px auto;
    background-color: $color3;
    color: $color2;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}
.description {
  padding: 0px 20px;
  margin: 20px auto;
  width: 90%;
  border-left: 3px solid $color3;
}
@media (max-width: 767px) {
  #nav-links {
    justify-content: flex-end;
    li a {
      display: none;
    }
  }
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hamburger-line {
    display: initial;
  }
  .button-wrap {
    display: none;
  }
  #video {
    width: 90%;
    margin: 0 auto;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 1050px) {
  #nav-links li {
    display: none;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
}


// Light theme
.light-theme {
  h2 {
    color: $color6;
  }
  p {
    color: $color5;
  }
  header {
    background-color: $color4;
  }
  #nav-bar .logo-text {
    color: $color6;
  }
  #nav-links li a {
    color: $color5;
    &:hover {
      color: $color4;
    }
  }
  .hamburger-line {
    background-color: $color6;
  }
  #button-theme {
    color: $color5;
    &:hover {
      color: $color4;
      .icon {
        color: $color4;
      }
    }
  }
  #button-theme:hover,
  .nav-link:hover {
    background-color: rgba($color6, 1);
  }
  .icon {
    color: $color5;
  }
  main {
    background-color: $color4;
  }
  section {
    background-color: $color4;
    &:nth-child(1) {
      border-top: 1px solid rgba($color5, 0.2);
      border-bottom: 1px solid rgba($color5, 0.2);
    }
    &:nth-child(2) {
      border-bottom: 1px solid rgba($color5, 0.2);
    }
  }
  form {
    input {
      color: $color5;
      background-color: $color4;
      border: 2px solid $color6;
      &::placeholder {
        color: $color5;
      }
    }
    #submit {
      background-color: $color6;
      color: $color4;
    }
  }
  .description {
    border-left: 3px solid $color6;
  }
}