// Variables
$color: tomato;
$color-light: lighten($color, 15%);
$color-dark: darken($color, 15%);
$font-color: white;

$color1: #111a25;
$color1-dark: darken($color1, 4%);
$color2: #e3d3a3;
$color3: #d24041;
/*
$color1: #e9e6e4;   original light, orange
$color2: #271958;
$color3: #f51a79;

$color1: #f9ffff; light, blue
$color2: #3e4535;
$color3: #005f9a;
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
h2 {
  color: $color3;
  font-weight: 500;
  margin-bottom: 6px;
}
p {
  color: $color2;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}
header {
  background-color: $color1-dark;
  position: fixed;
  width: 100vw;
}
#nav-bar {
  display: flex;
  justify-content: space-around;
}
#header-img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  mix-blend-mode: difference;
}
#nav-bar span {
  color: $color3;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  li {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    color: $color2;
    font-size: 20px;
    border-radius: 10px;
  }
  li a:last-child {
    margin-right: 40px;
  }
}
.hamburger-line {
  height: 6px;
  width: 40px;
  margin: 2px;
  margin-right: 50px;
  background-color: tomato;
  display: none;
}
main {
  padding-top: 100px;
  background-color: $color1;
  height: 100vh;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #video {
    margin: 30px 20px;
    box-shadow: 0px 0px 8px black;
  }
}
section {
  padding: 20px;
  background-color: $color1;
  &:nth-child(1) {
    border-bottom: 1px solid rgba($color2, 0.2);
  }
  &:nth-child(2) {
    border-bottom: 1px solid rgba($color2, 0.2);
  }
}
form {
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  input {
    display: block;
    height: 35px;
    width: 100%;
    color: $color2;
    font-size: 15px;
    background-color: $color1;
    padding: 6px;
    margin: 0px 15px 0px auto;
    border: 2px solid $color3;
    &::placeholder {
      color: $color2;
      font-weight: bold;
    }
  }
  #submit {
    display: block;
    height: 35px;
    width: 50%;
    margin: 0px auto 0px auto;
    background-color: $color3;
    color: $color2;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
  }
}
.description {
  padding: 0px 20px;
  margin: 20px auto;
  width: 90%;
  border-left: 3px solid $color3;
}
@media (max-width: 767px) {
  #nav-links li a {
    display: none;
  }
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hamburger-line {
    display: initial;
  }
  #video {
    width: 90%;
    margin: 0 auto;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
}
